{% extends "base.html" %}

{% block content %}
    {% include "content/blocks/home/header_banner.html" %}
    {% include "content/blocks/home/exam_info.html" %}
    {% include "content/blocks/home/latest_news.html" %}
    {% include "content/blocks/home/pricing.html" %}
    {% include "content/blocks/home/education_info.html" %}
    {% include "content/blocks/home/services.html" %}
    {% include "content/blocks/home/documents.html" %}
    {% include "content/blocks/home/partners.html" %}
    {% include "content/blocks/home/contacts.html" %}
{% endblock %}