{% if show_latest_news %}
    <section id="latest_news" class="section latest_news">
        <div class="content__layout">
            <div class="section__header">
                <h2 id="news-section-title"  class="section__title">{{ latest_news_title|default:"Новости" }}</h2>
                <a href="#" class="show-all-news-btn show-more-news" data-department="{{ department.slug }}">
                    Все новости
                    {% include "icons/show_all.svg" %}
                </a>
                <div id="svg-show-all-template" style="display: none;">{% include "icons/show_all.svg" %}</div>
            </div>
            <div id="news-content-container">
                {% include "content/ajax/news/news_grid.html" with news_items=latest_news only %}
            </div>
        </div>
    </section>
{% endif %}