{% extends "base.html" %}
{% load static %}

{% block latest_news %}
    <section class="latest_news screen_width_container">
        <div class="latest_news__decor">
            <img src="{% static 'img/protector.png' %}" class="latest_news__decor-image">
        </div>
        <h2 class="section__title">Последние новости</h2>
        {% include "content/inc/news_grid.inc.html" with news_items=latest_news only %}
    </section>
{% endblock %}
{% block services %}
    <section class="services screen_width_container">
        <div class="services__decor decor-flippedX">
            <img src="{% static 'img/protector.png' %}" class="services__decor-image">
        </div>
        <h2 class="section__title">Услуги</h2>
    </section>
{% endblock %}
{% block partners %}
    <section class="partners screen_width_container">
        <h2 class="section__title">Наши партнёры</h2>
    </section>
{% endblock %}
{% block contacts %}
    <section class="contacts screen_width_container">
        <div class="contacts__content">
            <h2 class="section__title">Контакты</h2>
            <div class="contacts__info">
                <h3 class="section__subtitle">Общероссийская общественная организация «Всероссийское общество автомобилистов»<br>Иркутское региональное отделение</h3>
                <p><span class="section__subsubtitle">Адрес главного офиса:</span> г. Иркутск, ул. Байкальская, д. 105-а, оф. 403</p>
                <p><span class="section__subsubtitle">Телефон:</span> 8 (3952) 23-22-20</p>
                <p><span class="section__subsubtitle">Эл. почта:</span> 38@voa.ru</p>
                <br>
                <p><span class="section__subsubtitle">Реквизиты для оплаты услуг автостоянки:</span></p>
                <p>Наименование получателя: ИРО ООО ВОА<br>
                   ИНН 3808016455; КПП 381101001<br>
                   Банк получателя: Байкальский банк ПАО Сбербанк России г. Иркутск<br>
                   БИК: 042520607<br>
                   Корр.счет: 30101810900000000607<br>
                   Расч.счет: 40703810318350100524<br>
                   В назначении платежа обязательно указывать "за услуги автостоянки №__, место __, месяц ____"</p>
            </div>
        </div>
        <div class="contacts__decor decor-flippedY">
            <img src="{% static 'img/tyre.png' %}" class="contacts__decor-image">
        </div>
    </section>
{% endblock %}
