.services, .latest_news, .exam-info, .announcements {
    position: relative;
    z-index: 1;
}

.services::before, .latest_news::before, .exam-info::before, .announcements::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background:
    var(--horizontal__decor-gradient-right),
    var(--horizontal__decor-gradient-left),
    url('../img/protector.png');
    background-size:
    100px 100%,
    100px 100%,
    100% 100px;
    background-position:
    left top,
    right top,
    left top;
    background-repeat: no-repeat;
    z-index: -1;
}

.services::before {
    transform: rotateY(-180deg);
}

/* Если объявления идут перед экзаменами — декор и его отступ убираются */
.announcements ~ .exam-info {
    padding-top: 0;
}

.announcements ~ .exam-info::before {
    display: none;
}

@media (max-width: 768px) {
  .services::before,
  .latest_news::before,
  .exam-info::before,
  .announcements::before {
    display: none;
  }
}
