html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-regular);
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

.page-wrapper {
    flex: 1 0 auto;
}

.content__layout {
    max-width: 1440px;
    min-width: 1150px;
    margin: 0 auto;
    padding: 0 120px;
}