body {
    font-family: var(--font-family-default), var(--font-family-fallback);
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-regular);
    line-height: 130%;
}

.header__title, .header-banner__title {
    font-family: var(--font-family-accent), var(--font-family-fallback);
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-semibold);
    line-height: 110%;
    text-transform: uppercase;
}

.header__title {
    text-align: center;
}

.exam-card .header__title {
    color: var(--red-accent-color);
}

.exam-card .section__subtitle {
    color: var(--red-accent-color);
}

.nav {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-medium);
    line-height: 110%;
}

.section__title {
    text-transform: uppercase;
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
    line-height: 110%;
}

.section__subtitle {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-medium);
    line-height: 110%;
}

.section__card_title {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
}

.news-card__date {
    font-style: italic;
    font-size: var(--font-size-small);
    opacity: 0.8;
}

.service-card-info li {
    font-weight: var(--font-weight-light);
}

.contacts__info-card p, .schedule li, .bank-details li, .footer__links li {
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-small);
}

.footer__links {
    font-size: var(--font-size-small);
}

.footer__links li {
    line-height: 110%;
}
