{% load static %}

<footer class="footer">
    <div class="content__layout">
        <a href="/"><img class="footer_img" src="{% static 'img/logo.png' %}" /></a>
        <div class="footer__column">
            <ul class="footer__links">
                <li><a href="https://госавтоинспекция.рф/r/38" target="_blank" rel="noopener noreferrer">Управление ГИБДД ГУ МВД России по Иркутской области</a></li>
                <li><a href="https://госавтоинспекция.рф/" target="_blank" rel="noopener noreferrer">Управление ГИБДД ГУ МВД России</a></li>
                <li><a href="https://obrnadzor.gov.ru/" target="_blank" rel="noopener noreferrer">Федеральная служба по надзору в сфере образования и науки</a></li>
                <li><a href="https://edu.gov.ru/" target="_blank" rel="noopener noreferrer">Министерство просвещения Российской Федерации</a></li>
                <li><a href="https://minobrnauki.gov.ru/" target="_blank" rel="noopener noreferrer">Министерство науки и высшего образования Российской Федерации</a></li>
            </ul>
        </div>
        <div class="footer__column">
            <ul class="footer__links">
                <li><a href="https://voa.ru/" target="_blank" rel="noopener noreferrer">Всероссийское общество автомобилистов</a></li>
                <li><a href="https://autoins.ru/" target="_blank" rel="noopener noreferrer">Российский Союз Автостраховщиков</a></li>
                <li><a href="https://moymotor.ru/" target="_blank" rel="noopener noreferrer">Автомобильные новости</a></li>
                <li><a href="https://www.autogoda.ru/" target="_blank" rel="noopener noreferrer">Автомобиль года</a></li>
                <li><a href="https://www.nalog.ru/rn38/service/calc_transport/" target="_blank" rel="noopener noreferrer">Расчёт транспортного налога</a></li>
                <li><a href="https://госавтоинспекция.рф/check/fines" target="_blank" rel="noopener noreferrer">Поиск штрафов по гос. номеру</a></li>
            </ul>
        </div>
        <div class="footer__column footer__contacts">
          {% include "content/partials/contacts/contact_links.html" %}
        </div>
    </div>
</footer>
