{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'img/favicon.ico' %}" rel="icon" type="image/x-icon">
    <title>{{ department.details.meta_title|default:department.name }}</title>
    {% if department.details.meta_description %}
        <meta name="description" content="{{ department.details.meta_description }}">
    {% endif %}
    <title>{% block title %}{% endblock %}</title>
    {% if debug %}
      <script src="http://127.0.0.1:35729/livereload.js"></script>
    {% endif %}
</head>
<body>
    <div class="page-wrapper">
        {% block header %}{% include "content/inc/header.inc.html" %}{% endblock %}
        {% block navigation %}{% include "content/inc/nav.inc.html" %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
    {% block footer %}{% include "content/inc/footer.inc.html" %}{% endblock %}

    <div id="image-modal" class="modal" style="display: none;">
        <span class="modal-close" id="modal-close">&times;</span>
        <img class="modal-content" id="modal-image">
        <div class="modal-caption" id="modal-caption"></div>
    </div>

    <script src="{% static 'js/news-accordion.js' %}"></script>
    <script src="{% static 'js/partner-news-accordion.js' %}"></script>
    <script src="{% static 'js/maps-init.js' %}"></script>
    <script src="{% static 'js/documents-accordion.js' %}"></script>
    <script src="{% static 'js/material-description.js' %}"></script>

</body>
</html>