{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/fonts.css' %}?v={{ STATIC_VERSION }}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}?v={{ STATIC_VERSION }}" rel="stylesheet">
    <link href="{% static 'img/favicon.ico' %}" rel="icon" type="image/x-icon">
    <title>{{ department.details.meta_title|default:department.name }}</title>
    {% if department.details.meta_description %}
        <meta name="description" content="{{ department.details.meta_description }}">
    {% endif %}
    <title>{% block title %}{% endblock %}</title>
    {% if debug %}
      <script src="http://127.0.0.1:35729/livereload.js"></script>
    {% endif %}
    <script src="https://lidrekon.ru/slep/js/jquery.js"></script>
    <script src="https://lidrekon.ru/slep/js/uhpv-full.min.js"></script>
</head>
<body>
    <div class="page-wrapper">
        {% block header %}{% include "content/layout/header.html" %}{% endblock %}
        {% block navigation %}{% include "content/layout/navigation.html" %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
    {% block footer %}{% include "content/layout/footer.html" %}{% endblock %}

    <div id="image-modal" class="modal">
        <span class="modal-close" id="modal-close">&times;</span>
        <button class="modal-nav modal-prev">&#10094;</button>
        <img class="modal-content" id="modal-image">
        <button class="modal-nav modal-next">&#10095;</button>
        <div class="modal-caption" id="modal-caption"></div>
    </div>

    <script>
        window.APP_CONFIG = window.APP_CONFIG || {};
        window.APP_CONFIG.YANDEX_MAPS_API_KEY = "{{ YANDEX_MAPS_API_KEY }}";
    </script>
    <script src="{% static 'js/app.js' %}?v={{ STATIC_VERSION }}" type="module"></script>
</body>
</html>