
.accordion-item {
    border-bottom: var(--blue-color-border-40);

}

.accordion-header {
    width: 100%;
    text-align: left;
    background: transparent;
    border: none;
    padding: 16px 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2s ease;
    font-size: var(--font-size-h3);
}

.accordion-header:hover {
    background-color: #e9ecef;
}

.accordion-toggle {
    color: var(--background-color-blue);
    font-size: var(--font-size-h1);
}

/* Открытый элемент */
.accordion-item.open .accordion-header .accordion-toggle {
    content: '−';
    color: var(--background-color-blue);
    font-size: var(--font-size-h1);
}

.accordion-content {
    padding: 16px;
    background: var(--background-color-white);
    border-top: 1px solid #dee2e6;
    font-size: var(--font-size-default);
    line-height: 1.6;
}

.accordion-content p,
.accordion-content ul,
.accordion-content ol {
    margin: 10px 0;
}

.accordion-content ul {
    padding-left: 20px;
}

.accordion-content li {
    margin-bottom: 5px;
}