.contacts__content {
    display: flex;
    gap: 24px;
}

.contacts__content:last-child {
    margin-top: 24px;
}

.contacts__map {
    width: 50%;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.contacts__info {
    display: flex;
    width: 50%;
    gap: 24px;
    flex-direction: column;
}

.contacts__iframe {
    width: 50%;
    min-height: 400px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.contacts__info-card {
    background-color: var(--background-color-white);
    border-radius: var(--border-radius);
    padding: 8px 16px;
}

.contacts__info-card p, .schedule, .bank-details li {
    margin-bottom: 12px;
}

.contacts__info-card svg {
    color: var(--background-color-blue);
}

.bank-details {
    margin-top: 16px;
}
