.footer {
    background: var(--footer-gradient);
}

.footer .content__layout {
    gap: 100px;
}

.footer__links li {
    margin-bottom: 12px;
}

.footer__contacts svg {
    color: var(--text-color-contrast);
}