.header-special {
    display: flex;
    padding-bottom: 0 !important;
    align-items: center;
}

.header-special .header_img{
    max-width: 70px;
    max-height: 70px;
}

.header_main_part {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 900px;
}

.header__contacts_special {
    display: flex;
    justify-content: space-between;
    min-width: 720px;
    align-items: center;
}

.header__social_special {
    display: flex;
    gap: 8px;
    align-items: center;
}

.footer .content__layout {
    gap: 16px;
}

.header_department_links {
    display: flex;
    justify-content: space-between;
}

.header__contacts svg, .accessibility svg, .header__contacts_special svg {
    color: var(--background-color-blue);
}

.img_link {
    display: flex;
    gap: 8px;
    max-height: 24px;
    align-items: center;
}

.img_link svg, .img_link img {
    max-width: 24px;
    min-width: 24px;
}

.accessibility svg {
    max-width: 42px;
    max-height: 42px;
}

@media (max-width: 768px) {
    .header-special {
        flex-direction: column;
        align-items: flex-start;
    }
    .header__contacts_special {
        flex-direction: column;
        align-items: flex-start;
        min-width: 300px;
    }
    .header__social_special {
        order: 0;
        align-self: flex-end;
        margin-top: -70px;
        margin-bottom: 40px;
    }
    .header__contacts_special {
        order: 1;
    }
    .header-special .accessibility {
        align-self: flex-end;
        margin-top: -30px;
        margin-bottom: 30px;
    }

    .header-default {
        flex-direction: column;
    }

    .header-default .header_img{
        max-width: 70px;
        max-height: 70px;
    }

    .header_department_links {
        flex-direction: column;
    }

    .header_main_part {
        min-width: 300px;
    }

    .header_department_links {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 16px;
    }

    .header-default .accessibility {
        align-self: flex-end;
        margin-top: -420px;
        margin-bottom: 350px;
    }
}