.header_main_part {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 720px;
}

.footer .content__layout {
    gap: 16px;
}



.header_department_links {
    display: flex;
    justify-content: space-between;
}

.header__contacts svg, .accessibility svg {
    color: var(--background-color-blue);
}

.img_link {
    display: flex;
    gap: 8px;
    max-height: 24px;
    align-items: center;
}

.img_link svg, .img_link img {
    max-width: 24px;
    min-width: 24px;
}

.accessibility svg {
    max-width: 42px;
    max-height: 42px;
}