.nav {
    background-color: var(--background-color-blue);
}

nav .content__layout {
    font-family: var(--font-family-default);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-h3);
    justify-content: center;
    gap: 48px;
}
