.pricing-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
}

.pricing-card {
    display: flex;
    align-items: center;
    gap: 24px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    padding: 16px;
}

.pricing-card-image {
    display: flex;
    align-items: center;
}

.pricing-card-image img {
    max-width: 250px;
    height: auto;
}

/* Контент */
.pricing-card-content {

    color: #333;
    line-height: 1.6;
}

.pricing-card-content h3 {
    font-size: 24px;
    color: #1a2b52;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 15px;
}

.pricing-card-content p {
    margin: 10px 0;
    font-size: 16px;
}

.pricing-card-content ul {
    padding-left: 20px;
    margin: 10px 0;
}

.pricing-card-content li {
    margin-bottom: 5px;
}

.pricing-note {
    color: #dc3545;
    font-weight: 600;
    margin-top: 15px;
    font-size: 16px;
}


@media (max-width: 768px) {
    .pricing-grid {
        gap: 20px;
    }
    .pricing-card {
        padding: 16px;
        flex-direction: column;
        align-items: center;
    }
}